*,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    @media (max-width: 600px) {
        section {
          flex-direction: column;
        }
      }
      a{
        display:block;
        color:white;
      }
      a:visited{
        color:#C3C5E8;
      }
      a:hover{
        text-decoration:none;
      }
      #progressive-enhancement a{
        display:block;
      }
      body{
        background-color:black;
        color:white;
      }