/*box-sizing*/
html{
  box-sizing: border-box;
}
*:after {
  box-sizing: inherit;
}
/* Global Styling */

body {
  font-family: 'Kanit', sans-serif; background-color:#121718;
  color:#fff;
}

header.primary{
  text-align:center;
  text-shadow:1px 1px 10px #000000;
  color:#ffffff;
padding: 40px;
background-image: url(https://sat02pap001files.storage.live.com/y4m9YCvqMh-L64EZVpl_vRACmvKSmZV2IkJhkNyxK7qh2oaheY6Fwl5A78NVsXx86ruRtAaqqelz_3BaDmb7sE2qlNH6D02lnN8nPs3qmOivZFWNYIZrsmgjLWqdF2s98AUbARoJdHgTXOlGR2bnpDSWOF11IExN7hj7gDsrfnYpwkSUdvTyzYPk1ZOUnW_ngPQ?width=1024&height=512&cropmode=none);
}
header.primary h1{
font-size: 2.0rem;
margin: 20px;
}
header.primary h1 a{
color:#ffffff;
text-decoration:none;
}
header.primary h1 a img{
  width:60%;
  margin-left:4.2rem;
}
header.primary h2 {
font-size: 1.6rem;
margin: 20px auto 40px;
}
header.primary nav {
width: 80vw;
margin: 20px auto;
max-width: 900px;
}
header.primary nav ul{
padding:0;
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
header.primary nav ul li{
list-style-type:none;
}
header.primary nav ul li a{
list-style-type:none;
text-decoration:none;
color:#ffffff;
background-color:rgba(230,134,167,0.5);
padding: 8px 16px;
border-radius:20px;
transition:.5s;
border:2px solid rgba(0,0,0.0,8);
}
header.primary nav ul li a:hover, header.primary nav ul li a:active{
 background-color:rgba(230,134,167,0.9);
}

.content{
margin-left: 2rem;
display:flex;
flex-direction:column;
justify-content:space-evenly;
border-bottom:1px solid #ffffff;
padding:2rem 0;
border-top:1px solid #ffffff;
}
.content h2{
color:#BDABFF;
}
#content article.post{
width:30%;
box-shadow:0 4px 8px rgba(0,0,0,0.4);
padding:10px;
border-radius:4px;
font-size:0.8rem;
}

#content article.post:hover{
box-shadow:0 8px 16px rgba(0,0,0,0.3);
}
/*------Media Queries-----*/
@media screen and (max-width:650px){
header.primary nav ul{
flex-direction:column;
}
header.primary nav a{
  display:block;
}
header.primary nav li{
  margin-bottom:10px;
}
}
/*----utilities----*/
.container{
max-width:900px;
width:80vw;
margin: 40px auto;
}

/*-------Responsive images------*/
img {
max-width:100%;
}

.post{
background-color:rgba(189,171,255,0.7);
}
.post figure{
padding-top:2rem;
margin: auto;
width: 65%;
}
.post figure img{
border:1px solid #c0c0c0;
padding: 4px;
border-radius:4px;
}
.post header {
text-align:center;
border-bottom: 1px solid;
}
.post:last-of-type{
padding-bottom:3rem;
}
.post a{
color:#80C5CC;
letter-spacing: 0.2em;
}
.post a:hover, .post a:active{
text-decoration:none;
}
aside[role="complementary"]{
background-color:#172635;
color:#ffffff;
}
aside .container{
display:flex;
justify-content:space-between;
flex-direction:row;
}
aside article.widget{
width:45%;
}
#colophon{
background-color:#3b638b;
}
#colophon h6{
padding:20px;
margin:0;
color:#ffffff;
text-align:center;
font-size:.9rem;
text-transform:uppercase;
}
#article{
background-color:#5A6470;
color:#121718;
}
#mission{
background-color:#385170;
}
#external{
color:#80C5CC;
}
table {
border:solid;
padding:1rem;
border-collapse:collapse;
border-color:#BDABFF;
}
th, td {
padding:.4rem;
border:solid;
border-color:#4757DB;
}
th{
background-color:#4757DB;
color:#ADBAE4;
}
#colophon a{
color:#BDABFF;
text-decoration:none;
}
#colophon a:hover{
color:#ffffff;
}
#mission{
background-color:#121718;
}
#mission table{
background-color:#4757DB;
color:#80C5CC;
}
#mission th,td{
border-color:#5B7DD4;
}
#background{
border-bottom:solid;
padding-bottom:2rem;
}
#article{
background-image:url("https://sat02pap001files.storage.live.com/y4mqxD2vYnU_ffvcRmmc9YisdiQbFWRUsK8257YsgqL6_jXQcC4_I0LsQp5HyGWf1xclvl83Ba1a1MMmsy17fT5C9abnxmkdIiZwxJ2tqhkX_K2Kmc4GRbhHJPjdP-sEoqM8YC4ixnlWnJXzN1htreMploikiX6Vur__4u3OSqnLrpxDp_pmrXxKS4UkhUiJACd?width=1000&height=500&cropmode=none");
}
  .slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}
#slideshow{
    background-color:#80C5CC;
}
#slideshow h3{
  color:#8B3FCC;
  display:flex;
  justify-content:center;
}